* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
     background: rgb(100, 100, 100); 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 38, 141);    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

body::-webkit-scrollbar-corner {
  background-color: rgb(255, 255, 255);  
 
}